<div class="trialpartWrapper" style="text-align: left;">
	Согласие на добровольное участие в исследовании <br> <br>

Нажимая кнопку "Дальше", я подтверждаю своё добровольное участие в эксперименте «Разрешение морфологической неоднозначности в русском языке», проводимом НИУ ВШЭ и Гарвардским университетом. Я даю согласие на то, что данные, полученные от меня в ходе исследования, могут быть опубликованы и использованы в научных целях при условии, что моё имя останется в тайне. <br> <br> 
Я знаю, в чём состоит процедура эксперимента, и что я могу в любое время прекратить участие в эксперименте.<br> <br> 
Я также подтверждаю, что на момент исследования:<br> <br> 
1. Не имею нескорректированных проблем со слухом;<br> 
2. Не принимаю медицинские препараты, влияющие на концентрацию внимания и время реакции;<br> 
3. Не нахожусь под воздействием алкоголя и иных психотропных веществ.<br> 

	<%= continueButton() %>
</div>
