<input type="hidden" name="destination" value="demographics.csv">

Thank you! Please answer the following questions about your language background.

<p>
What was the first language you learned?<br />
<input type="text" name="firstlang" value="" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<p>
What language do you primarily speak at home?<br />
<input type="text" name="primarylang" value="" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<p>
Where are you from?  <br />
<input type="text" name="from" value="" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<p>
When were you born? <br />
<input type="text" name="born" value="" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<p>
Sex:<br />
<input type="text" name="sex" value="" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<p>
What other languages do you speak? <br />
<input type="text" name="otherlang" value="" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<p>
We would love to hear any comments or questions you might have.<br />
<textarea ROWS="6" COLS="30" name="sugg" style="padding: 0px; width: 25em;"></textarea><br>
</p>

<p>
Please leave us your email if you'd like us to get back to you.<br />
<input type="text" name="email" value="" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<p style="text-align: right;">
<input type="button" value="   send   " onClick="Experigen.recordResponse(this);">
</p>