<div style="text-align: left;">
<input type="hidden" name="destination" value="demographics.csv">
Спасибо!
В заключение ответьте, пожалуйста, на этии вопросы:

<p>
Сколько вам лет? <br>
<input type="text" name="age" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

Вы:
	<select name="sex" style="width: 10em; position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="male">Мужчина</option>
		<option value="female">Женщина</option>
	</select>
	

<p>
Какое у вас образование?  
	<select name="education" style="position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="srednee">Среднее</option>
		<option value="sred.spec">Среднее специальное</option>
		<option value="higher.incomplete">Неоконченное высшее</option>
		<option value="higher">Высшее</option>
		<option value="PhD">Ученая степень/PhD</option>
	</select>
<p>

Ваш родной язык <br>
<input type="text" name="native.lang" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

Говорите ли вы на других языках? На каких? <br>
<input type="text" name="foreign.lang" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

Область профессиональной деятельности <br>
<input type="text" name="profession" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

Вы  
	<select name="dominant.hand" style="position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="right">Правша</option>
		<option value="left">Левша</option>
		<option value="ambidexter">Амбидекстаер (одинаково владеете правой и левой рукой)</option>
		<option value="former.left">Переученный левша</option>
	</select>
<p>

Есть ли у вас проблемы со слухом?
	<select name="hearing" style="position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="hearing.ok">Нет</option>
		<option value="hearing.bad">Да</option>
	</select>
<p>


С помощью чего вы слушали аудио?
	<select name="audio" style="position: absolute; left:12em; margin-top:-2px;">
		<option value="none">Выберите</option>
		<option value="headphones">Наушники</option>
		<option value="speakers">Колонки</option>
		<option value="laptop.speakers">Встроенные колонки ноутбука</option>
		<option value="other">Другое</option>
	</select>
<p>


Если в ходе эксперимента у вас возникли замечания или вопросы, напишите об этом.
<textarea ROWS="6" COLS="30" name="sugg" style="padding: 0px; width: 30em;"></textarea><br>

<p>

Пожалуйста, укажите ваш e-mail для связи. 
<input type="text" name="email" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>


<P style="text-align: right;">
<input type="button" value="   send   " onClick="Experigen.recordResponse(this);">
	

</div>
