<div style="text-align: left;">

<p>
Спасибо! Расскажите друзьям о нашем эксперименте, если вам понравилось!
</p>
<p>
<a href="http://www.linktoawesomeness.com">A link to your awesome experiment</a>
</p>

</div>
