<div style="text-align: left;">

<p>
Спасибо! 
<p>
Вы можете рассказать друзьям о <a href="http://hseru.github.io/nl/">нашем эксперименте</a> или узнать о других экспериментах на <a href="http://philology.hse.ru/neuroling/research_subjects">сайте нашей лаборатории</a>.
</p>


</div>
