<div style="text-align: left;">

<p>
Спасибо! Если вам было интересно, расскажите друзьям о <a href="http://hse-ru.github.io/nl/">нашем эксперименте</a>. <br><br>

Если вам интересно принять участие в других лингвистических экспериментах, зайдите на <a href="http://philology.hse.ru/neuroling/research_subjects">сайт нашей лаборатории</a>.
</p>


</div>
