
<div class="trialpartWrapper" style="text-align: left;">
	Здравствуйте!
Спасибо, что согласились принять участие в нашем эксперименте. 
Просим вас прослушать предложения на русском языке и оценить степень их грамматической правильности. 
Если в предложении, на ваш взгляд, допущена ошибка, и оно неприемлемо с точки зрения русского языка, нажмите пробел. Нажимайте пробел сразу же, как только вы услышите ошибку. 

В случае, если вы считаете, что предложение соответствует нормам русского языка, не нажимайте ничего. 
Следующее предложение начнет проигрываться автоматически.

Каждое предложение вы сможете прослушать только один раз. 

Наденьте наушники и нажмите кнопку «Дальше».
Сейчас у вас будет небольшая тренировка, чтобы вы привыкли к заданию.
 
	<p>
	Please put your headphones on and listen to this made-up word:
	<%= makeSoundButton("pharon.mp3") %>
</div>


<div class="trialpartWrapper" style="text-align: left;">
	What did you hear?
	<%= makeTextInput({allowempty: false, matchRegExpression: "[pfshb]h?[aeiou]+r[aeiou]+[mn]", rightAnswer: "pharon", feedbackID: "#feedback", feedbackWrong: "Okay. We were hoping you would write something like RIGHTANSWER.", feedbackMatch: "Pretty close! The word we had in mind was RIGHTANSWER.",  feedbackRight: "Great! The right answer is indeed RIGHTANSWER." }) %>
	<%= continueButton("►") %>
	<p>
	<div id="feedback"></div>
</div>


<div class="trialpartWrapper" style="text-align: left;">
	<p>
	<%= continueButton() %>
</div>

