
<div class="trialpartWrapper" style="text-align: left;">
	Здравствуйте! <br> <br>
Спасибо, что согласились принять участие в нашем эксперименте.  <br> <br>
Мы попросим вас прослушать предложения на русском языке и оценить степень их грамматической правильности.  <br> <br>
Вам нужно будет нажать на кнопку "    ►    " и слушать. Если в предложении, на ваш взгляд, допущена грамматическая ошибка, и оно неприемлемо с точки зрения русского языка, как можно быстрее нажмите кнопку "Ошибка!". <br>
Например, предложения типа "Ну что за милая девочка в синей юбке бежал по саду, просто загляденье" или "Слишком уж нарядились для банкета все эти молодые человек, никуда не годится" неграмматичны, так по-русски сказать нельзя. В ответ на них нужно нажать кнопку "Ошибка!". Надо реагировать именно на грамматические ошибки, а не, например, стилистические огрехи  - многие предложения взяты из живой разговорной речи.  <br> <br>

Нажимайте кнопку сразу же, как только вы услышите ошибку. В случае, если вы считаете, что ошибки в предложении нет, не нажимайте ничего, и через 3 секунды вы сможете перейти к следующему предложению. 
 <br>
Каждое предложение вы сможете прослушать только один раз.  <br> <br>

Весь эксперимент займёт у вас от 15 до 20 минут.<br>

Сейчас мы попросим у вас подтвердить, что вы согласны с условиями эксперимента, а затем вас ждёт небольшая тренировка, которая поможет привыкнуть к заданию.
Наденьте наушники и нажмите кнопку «Дальше».
 <br> <br>

	<%= continueButton() %>
</div>

