
<div class="trialpartWrapper" style="text-align: left;">
	Здравствуйте! <br> <br>
Спасибо, что согласились принять участие в нашем эксперименте.  <br> <br>
Просим вас прослушать предложения на русском языке и оценить степень их грамматической правильности. 
Если в предложении, на ваш взгляд, допущена ошибка, и оно неприемлемо с точки зрения русского языка, нажмите пробел. Нажимайте пробел сразу же, как только вы услышите ошибку.  <br> <br>

В случае, если вы считаете, что предложение соответствует нормам русского языка, не нажимайте ничего. 
Следующее предложение начнет проигрываться автоматически.
 <br>
Каждое предложение вы сможете прослушать только один раз.  <br> <br>

Наденьте наушники и нажмите кнопку «Дальше».
Сейчас у вас будет небольшая тренировка, которая поможет вам привыкнуть к заданию. <br> <br>


<div class="trialpartWrapper" style="text-align: left;">
	<p>
	<%= continueButton() %>
</div>

