<div class="trialpartWrapper" style="clear:both; height: 3em; text-align: center;">  
	How do you rate the acceptability of this sentence?
	<p>
	<%= makeScale({buttons: ["1","2","3","4","5"], edgelabels: ["completely unacceptable", "completely acceptable"], disable:true }) %>
</div>


<input type="hidden" name="condition" value="<%= condition %>" />
<input type="hidden" name="item" value="<%= item %>" />

<div style="clear: both; height: 1px;">&nbsp;</div>
