<div class="trialpartWrapper" style="float:left; height: 3em; width: 40%;">
	<%= makeSoundButton({soundFile: audio}) %>
</div>


<div class="trialpartWrapper" style="clear:both; text-align: center;">  
	Which plural do you prefer?
	<p>
	<%= makeScale({buttons: ["1","2","3","4","5","6","7"], edgelabels: ["first one", "second one"]}) %>
</div>
