<div class="trialpartWrapper" style="clear:both; text-align: center;">  
	Press one of these two buttons.   We'll tell you which one was right as soon as it's too late to change your mind. 
	<p>
	<%= makeScale({buttons: ["YMMV", "YOLO"], edgelabels: ["", ""], disable: true, rightAnswer: "YOLO", feedbackID: "#feedback", feedbackWrong: "No, you were supposed to press RIGHTANSWER.",  feedbackRight: "Great! RIGHTANSWER is the right answer."  }) %>
	<div id="feedback" style="padding:30px;"></div>

</div>

<div style="clear: both; height: 1px;">&nbsp;</div>
