<div style="text-align:center">
  <p>
	  Нажмите на кнопку "Ошибка!", если в предложении есть ошибка. Если ошибок нет, не нажимайте ничего. 
  <p>
		<%= makeSoundButton("tr1.mp3") %>
   <br> <br>
	<%= makeScale({buttons: ["Ошибка!"], edgelabels: ["", ""], disable:true, hide:true, rightAnswer: 0}) %>
</div>
