<div class="trialpartWrapper" style="text-align: left;">
<p>
	Нажмите на пробел, если в предложении есть ошибка. Если ошибок нет, не нажимайте ничего. 
<p>
	<%= makeSoundButton("tr1.mp3") %>
<p>
	<%= continueButton() %>
</div>

