<div class="trialpartWrapper" style="text-align: left;">
<p>
	Нажмите на пробел, если в предложении есть ошибка. Если ошибок нет, не нажимайте ничего. 
	<%= makeSoundButton("1_1_fill.mp3") %>
</div>

<p> 
<div class="trialpartWrapper" style="text-align: center;">
	<p>
	<%= continueButton() %>
</div>
